// compileExpanded: ../css/$1.css
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_fonts.scss";

*{
  outline: none!important;
}
body {
  font-family: 'Avenir';
}
.button {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.6);
            box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.6);
  }
  &_black {
    width: 233px;
    height: 39px;
    background-color: #2c2c2c;
    border: none;
    color: #ffffff;
    letter-spacing: 3.08px;
  }
  &_white {
    width: 289px;
    height: 42px;
    background-color: #fff;
    border: 2px solid #030039;
    color: #030039;
    font-weight: 500;
  }

}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

// header===============================================================
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  color: #909a9f;
  &__img {
    img {
      width: 66px;
    }
  }
  &__text {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-left: 40px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: -19px;
      width: 1px;
      height: 31px;
      background-color: #a9a9a9;
    }
  }
  &__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }
  &__cabinet {
    img {
      width: 46px;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__language {
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin-right: 9px;
    margin-left: 45px;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    letter-spacing: 2.94px;
    margin-left: 39px;
    @include media-breakpoint-down(sm) {
      span {
        display: none;
      }
    }
  }
  &__sandwich {
    margin-left: 12px;
    div {
      width: 22px;
      height: 2px;
      background-color: #909a9f;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

// banner===============================================================
.banner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  &__info {
    max-width: 696px;
    margin: 0 auto;
  }
  &__img {
    width: 100%;
  }
  &__tagline {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    margin-bottom: 73px;
    &_bold {
      color: #010101;
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      text-transform: none;
      letter-spacing: -1.8px;
      text-align: right;
      margin-right: 50px;
      margin-bottom: 63px;
      & span {
        position: relative;
        padding-left: 95px;
        @include media-breakpoint-down(xs) {
          font-size: 18px;
          line-height: 20px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 18px;
          left: 0;
          width: 59px;
          height: 4px;
          background-color: #000000;
          @include media-breakpoint-down(xs) {
            top: 9px;
            left: 50px;
            width: 30px;
            height: 2px;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    &__img {
      width: 90%;
    }
    &__tagline {
      margin-bottom: 20px;
      &_bold {
        font-size: 30px;
      }
    }
    &__scroll {
      display: none;
    }
  }
}

// greeting=============================================================
.greeting {
  margin-top: 30px;
  margin-bottom: 200px;
  @include media-breakpoint-down(md) {
    margin-bottom: 100px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__info {
    margin-top: 10px;
    margin-right: 45px;
    margin-bottom: 10px;
    text-align: right;
    color: #504f52;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    p:nth-of-type(3) {
      margin-bottom: 35px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 15px;
      }
    }
    &_bold {
      position: relative;
      margin-bottom: 25px;
      color: #030039;
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: -0.55px;
      @include media-breakpoint-down(sm) {
        font-size: 18px;
        line-height: 22px;
      }
    }
    &_blue {
      color: #60a3ff;
      font-size: 36px;
      line-height: 38px;
      letter-spacing: -0.9px;
      text-transform: uppercase;
      &:after {
        content: '';
        position: absolute;
        top: 15px;
        right: -112px;
        width: 84px;
        height: 3px;
        background-color: #000000;
        z-index: 1;
      }
      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 32px;
      }
    }
    @include media-breakpoint-down(lg) {
      margin-right: 10px;
      line-height: 20px;
      p {
        margin-bottom: 15px;
      }
    }
    @include media-breakpoint-down(md) {
      text-align: left;
      &_blue:after {
        display: none;
      }
    }
    @include media-breakpoint-down(sm) {
      p {
        margin-bottom: 10px;
      }
    }
  }
  &__video {
    border-radius: 40px;
    img {
      width: 100%;
    }
    @include media-breakpoint-down(md) {
      margin-top: 15px;
    }
  }
}

// offers===============================================================
.offers {
  margin-top: 200px;
  margin-bottom: 165px;
  @include media-breakpoint-down(md) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h4 {
    color: #2a84fd;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
  &__partners {
    h4 {
      position: relative;
      margin-top: 34px;
      &:after {
        content: '';
        position: absolute;
        width: 59px;
        height: 1px;
        top: 12px;
        right: -80px;
        background-color: #105dc5;
      }
    }
    & .offers__title, .offers__item, h4 {
      text-align: right;
    }
    @include media-breakpoint-down(md) {
      h4 {
        position: absolute;
        top: 0;
        right: 15px;
        margin-top: 18px;
        &:after {
          display: none;
        }
      }
      h5:first-of-type {
        margin-top: 62px;
      }
    }
    @include media-breakpoint-down(xs) {
      h5, p {
        text-align: left!important;
      }
      h4 {
        left: 15px;
        right: inherit;
      }
      h5:first-of-type {
        margin-top: 60px;
      }
    }
  }
  &__picture {
    position: relative;
    & > div {
      width: 536px;
      height: 536px;
      border: 2px solid #eff6ff;
      border-radius: 50%;
      margin: 0 auto;
      & > div {
        width: 446px;
        height: 446px;
        border: 2px solid #eff6ff;
        border-radius: 50%;
        margin: 43px 43px;
        & > div {
          width: 418px;
          height: 418px;
          border: 2px solid #f2f2f2;
          border-radius: 50%;
          -webkit-box-shadow: 0 0 45px 10px #f2f2f2;
                  box-shadow: 0 0 45px 10px #f2f2f2;
          margin: 12px 12px;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      & > div {
        width: 400px;
        height: 400px;
        & > div {
          width: 330px;
          height: 330px;
          margin: 33px 33px;
          & > div {
            width: 308px;
            height: 308px;
            margin: 9px 9px;
            & > div {
              width: 200px;
              height: 200px;
              margin: 54px 54px;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0 0 40px 20px #f2f2f2;
            box-shadow: 0 0 40px 20px #f2f2f2;
    margin: 59px 59px;
    img {
      width: 100%;
    }
  }
  &__icon {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0 0 40px 20px rgba(231, 230, 230, 0.6);
            box-shadow: 0 0 40px 20px rgba(231, 230, 230, 0.6);
    &_right {
      top: 0;
      right: 115px;
    }
    &_left {
      left: 101px;
      bottom: 14px;
    }
    @include media-breakpoint-down(md) {
      &_right {
        top: inherit;
        right: 200px;
        bottom: 14px;
      }
      &_left {
        left: 200px;
      }
    }
    @include media-breakpoint-down(sm) {
      &_right {
        right: 110px;
      }
      &_left {
        left: 110px;
      }
    }
  }
  &__business {
    h4 {
      position: relative;
      margin-top: 18px;
      margin-bottom: 38px;
      &:before {
        content: '';
        position: absolute;
        width: 59px;
        height: 1px;
        top: 10px;
        left: -80px;
        background-color: #105dc5;
      }
    }
    @include media-breakpoint-down(md) {
      h4 {
        margin-bottom: 20px;
        &:before {
          display: none;
        }
      }
    }
  }
  &__title {
    color: #030039;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }
  &__item {
    color: #504f52;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 8px 0 15px;
  }
}

// partners=============================================================
.partners {
  margin-top: 165px;
  margin-bottom: 210px;
  @include media-breakpoint-down(md) {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  h2 {
    margin-bottom: 0;
    margin-left: 15%;
    color: #030039;
    font-size: 53px;
    font-weight: 700;
    line-height: 90px;
    text-transform: uppercase;
    letter-spacing: -1.76px;
    @include media-breakpoint-down(sm) {
      margin-left: 10%;
    }
  }
  h3 {
    margin-bottom: 50px;
    color: #030039;
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.2px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }
  p {
    margin-left: 14%;
    margin-bottom: 0;
    color: #504f52;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  @include media-breakpoint-down(sm) {
    margin-left: 10%;
  }
  }
  &__info {
    background-image: url(../img/planet.png);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: 34%;
  }
  &__slider {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    &_right {
      width: 32%;
      float: right;
      margin-top: 8%;
      margin-left: 20px;
      @include media-breakpoint-down(lg) {
        width: 45%;
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(sm) {
        float: none;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
      }
    }
    &_left {
      width: 32%;
      float: left;
      margin-top: 90px;
      margin-right: 30px;
      @include media-breakpoint-down(lg) {
        width: 45%;
        margin-top: 40px;
      }
      @include media-breakpoint-down(sm) {
        float: none;
        width: 100%;
        max-width: 600px;
        margin: 30px auto;
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 20px;
      width: 100%;
      padding-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          -webkit-box-pack: center;
              justify-content: center;
      li {
        padding: 0 5px;
        list-style: none;
        button {
          content: '';
          display: block;
          width: 15px;
          height: 15px;
          padding: 0;
          font-size: 0;
          border: 1px solid #ffffff;
          border-radius: 50%;
          background: none;
          -webkit-transition: 0.2s;
          transition: 0.2s;
        }
        &.slick-active {
          button {
            background: #fff;
          }
        }
      }
    }
  }
  &__tokens {
    margin-top: 12%;
    margin-bottom: 12%;
    color: #504f52;
    letter-spacing: -0.72px;
    & p {
      margin-right: 20px;
      margin-bottom: 8px;
      margin-left: 0;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
    &_bold {
      position: relative;
      float: left;
      margin-right: 16px;
      margin-bottom: 20px;
      color: #030039;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.8px;
      &::after {
        content: '-';
        position: absolute;
        top: 0;
        right: -10px;
        font-weight: 400;
      }
      &:last-of-type:after {
        display: none;
      }
    }
    &_vertical {
      -webkit-writing-mode: tb-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: tb-rl;
      margin-top: 4px;
      margin-right: 0;
      margin-bottom: 0;
      font-size: 22px;
      @media (max-width: 374px) {
        display: none;
      }
    }
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 600px;
      margin: 0 auto;
      h3 {
        padding: 0 15px;
      }
    }
    @media (max-width: 374px) {
      .partners__tokens_bold {
        margin-bottom: 30px;
      }
      p {
        padding-left: 15px;
      }
    }
  }
  &__priority {
    position: relative;
    margin-right: 13%!important;
    margin-left: 45%!important;
    &:before {
      content: '+';
      position: absolute;
      top: -16px;
      left: -20px;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.96px;
      @include media-breakpoint-down(lg) {
        left: 5px;
        top: -10px;
      }
    }
    &_bold {
      font-weight: 700;
    }
    @include media-breakpoint-down(lg) {
      width: 70%;
      margin-top: 80px;
      margin-right: auto!important;
      margin-left: auto!important;
      text-align: center;
      &:before {
        display: none;
      }
    }
    @include media-breakpoint-down(sm) {
      margin-top: 50px;
      width: 100%;
      padding: 0 15px;
    }
  }
  &__labels {
    margin-top: 158px;
    img  {
      width: 100%;
    }
    @include media-breakpoint-down(md) {
      margin-top: 100px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 70px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

// revolution===========================================================
.revolution {
  margin-top: 210px;
  margin-bottom: 81px;
  text-align: center;
  @include media-breakpoint-down(md) {
    margin-top: 130px;
  }
  @include media-breakpoint-down(sm) {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  img {
    width: 70%;
  }
  &__text {
    max-width: 654px;
    margin: 40px auto 50px;
    color: #3e4b72;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.36px;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 23px;
    }
  }
  &__tagline {
    margin-top: 50px;
    margin-bottom: 74px;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    // font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

// about================================================================
.about {
  margin-top: 122px;
  margin-bottom: 92px;

  &__info {
    margin: 0 auto 86px;
    max-width: 600px;
    text-align: center;
    h1 {
      margin: 46px 0;
      padding: 0 62px;
      color: #363636;
      font-size: 60px;
      font-weight: 700;
      line-height: 78px;
      @include media-breakpoint-down(sm) {
        font-size: 45px;
        line-height: 40px;
        padding: 0;
      }
    }
    h5 {
    position: relative;
    margin: 46px 0;
    padding: 0 86px;
    color: #232323;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.32px;
    &:before {
      content: '+';
      position: absolute;
      top: -10px;
      left: 75px;
      color: #363636;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
    }
    }
    p {
      color: #808ca3;
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: -0.28px;
    }
  }
  &__tagline {
    text-align: center;
    h3 {
    margin-bottom: 0;
    color: #6b7889;
    font-size: 36px;
    font-weight: 700;
    line-height: 62px;
    text-transform: uppercase;
    }
    p:nth-of-type(1) {
      margin-bottom: 47px;
      color: #778392;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 4.76px;
    }
    p:nth-of-type(2) {
      margin-bottom: 0;
      color: #000000;
      font-size: 24px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: -0.48px;
    }
  }
}
.goals {
  max-width: 1366px;
  background-color: #313e56;
  margin: 86px auto 112px;
  @include media-breakpoint-down(sm) {
    .container {
      max-width: none;
    }

  }

  & h3 {
    margin-bottom: 102px;
    padding-top: 120px;
    padding-left: 16px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.3px;
  }
  &__info {
    margin-top: 102px;
    padding-bottom: 98px;
    padding-left: 16px;
  }
  &__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    margin-bottom: 32px;
  }
  &__item {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.07px;
    @include media-breakpoint-down(md) {
      p {
        word-wrap: break-word;
      }
    }
  }
}
.values {
  margin-top: 112px;
  margin-bottom: 117px;
  .container {
    @include media-breakpoint-down(sm) {
      max-width: none;
    }
  }
  &__item {
    padding-left: 45px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    &:nth-of-type(1) .values__line, &:nth-of-type(5) .values__line {
      height: 32px;
      background-color: #040404;
    }
    &:nth-of-type(2) .values__line, &:nth-of-type(4) .values__line {
      height: 58px;
    }
    &:nth-of-type(3) .values__line {
      height: 140px;
    }
  }
  h3 {
    margin-bottom: 76px;
    padding-left: 16px;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
  }

  &__number {
    margin-left: 40px;
    margin-bottom: 9px;
    @include media-breakpoint-down(sm) {
      margin: 10px 0 0 0;
      text-align: center;
    }
  }
  &__line {
    width: 2px;
    background-color: #040404;
    margin-left: 47px;
    @include media-breakpoint-down(sm) {
      height: 58px!important;
      margin: 10px auto;
      text-align: center;
    }
  }
  &__text {
    position: relative;
    margin: 39px 0 0 15px;
    &:before {
      content: '+';
      position: absolute;
      top: -10px;
      left: -13px;
      color: #000000;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
    }
    @include media-breakpoint-down(sm) {
      margin: 0;
      text-align: center;
      &:before {
        display: none;
      }
    }
  }
}

// slider
.slider {
  margin-top: 149px;
  margin-bottom: 28px;
  text-align: center;
  @include media-breakpoint-down(xs) {
    margin-top: 69px;
  }
  &__partners {
    margin-bottom: 69px;
    img {
      -webkit-box-shadow: 0px 0 130px 5px rgba(0, 0, 0, 0.7);
              box-shadow: 0px 0 130px 5px rgba(0, 0, 0, 0.7);
    }
  }
  &__switch {
    margin-top: 110px;
    text-align: center;
    img {
      margin: 0 2%;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 80px;
    }
  }
}


// footer===============================================================
.footer {
  padding-top: 57px;
  padding-bottom: 57px;
  &__copyright {
    margin-top: 14px;
    color: #444750;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    @include media-breakpoint-down(xs) {
      text-align: center;
      font-size: 22px;
    }
  }
  &__contacts {
    color: #444750;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.45px;
    text-align: right;
    @include media-breakpoint-down(xs) {
      text-align: center;
      font-size: 15px;
      line-height: 25px;
    }
    p {
      margin-bottom: 0;
    }
  }
}
